<p>new-gallery works!</p>

<!-- Images used to open the lightbox -->
<div class="card">
  <div class="card-header">
      <h4>Gallery</h4>
  </div>
</div>
<div class="container col-6">
<div class="row justify">
  <div  class="col-sm-3" *ngFor = 'let glst of appList let i = index'>
  
    <!-- data-bs-toggle="modal" data-bs-target="#staticBackdrop" -->
    <a [href]="" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="col-sm-4">
      <img [src]='glst.url' class="img-thumbnail" onclick="openModal();currentSlide(1)" class="hover-shadow img-thumbnail" alt="1">
    </a>
  </div>
</div>

</div>

  <!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
  
      <div class="mySlides" *ngFor = 'let gilst of appList let i = index'>
        <div class="numbertext" >{{i+1}} / 4</div>
        <img [src]='gilst.url' style="width:100%">
      </div>

      <!-- Next/previous controls -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
  
      <!-- Caption text -->
      <div class="caption-container">
        <p id="caption"></p>
      </div>
  
      <!-- Thumbnail image controls -->
      <!-- <div class="column">
        <img class="demo" src="img1.jpg" onclick="currentSlide(1)" alt="Nature">
      </div>
  
      <div class="column">
        <img class="demo" src="img2.jpg" onclick="currentSlide(2)" alt="Snow">
      </div>
  
      <div class="column">
        <img class="demo" src="img3.jpg" onclick="currentSlide(3)" alt="Mountains">
      </div>
  
      <div class="column">
        <img class="demo" src="img4.jpg" onclick="currentSlide(4)" alt="Lights">
      </div> -->
    </div>
  </div>
