<div class="login_content">
    <div class="login_wel bg-gradient-danger"></div>
  </div>
  
  <div class="authentication-wrapper authentication-basic container pb-5">
    <div class="container">
      <div class="about card-group flex-column flex-md-row mb-3">
        <div class="col-md-12 col-lg-12">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/about_bg.jpeg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title display-5 mt-2">About ALDEC</h5>
              <p class="card-text">
                ALDEC allows you to Prepares and submits Electronic Customs Declarations Online. 
                Obtaining trade declarations typically involves two key parties: the user and the approving authority.
                ALDEC provides a virtual meeting point for both the user and the approving authority - the user can prepare 
                and submit Customs declarations while the approving authority can go through submissions and provide 
                approvals – all electronically.
              </p>
              <p>This ALDEC can be used three ways:</p>
  
              <ul class="listing_marker">
                <li>
                  If a user is on the move, access ALDEC and complete data entry online.
                </li>
                <li>
                  A user could also download the web forms, enter data and upload the forms again.
                </li>
                <li>
                  The enterprise version of ALDEC can be installed at the user’s site allowing for convenience of managing its own database on site
                </li>
                <!--<li>General payments to DNEX registered billers</li>-->
              </ul>
  <!--
              <p class="card-text">
                myPayment supports multiple payment channels i.e FPX online banking & credit card. It
                connects to all major banks & most importantly, your payment information is updated
                real time. To suit your hectic work schedule, myPayment can be accessible via various
                platform like web, mobile & tablet. It is click on go!
              </p>
             
            </div>
  
            <ul class="line list-group list-group-flush">
              <li class="list-group-item"></li>
              <li class="list-group-item">Need Futher Assistant?</li>
            </ul>
            <div class="fcontact card-body">
              <h5 class="card-title mb-2">Contact Us</h5>
  
              <div class="col-lg-6">
                <small class="text-light fw-semibold">Registration Inquires / Assistant</small>
                <div class="demo-inline-spacing mt-3">
                  <ul class="list-group">
                    <li class="list-group-item d-flex align-items-center">
                      <i class="bx bx-support me-2"></i>
                      <span class="me-2">Careline :</span>1-300-133-133
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                      <i class="bx bx-envelope me-2"></i>
                      <span class="me-2">Email :</span> careline@dagangnet.com
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                      <i class="bx bxl-whatsapp me-2"></i>
                      <span class="me-2">WhatsApp :</span
                      ><a href="https://api.whatsapp.com/send?phone=60104475838">0104475838</a>
                    </li>
                    <li class="list-group-item d-flex align-items-center">
                      <i class="bx bx-message-dots me-2"></i>
                      <span class="me-2">Chat :</span
                      ><a href="https://www.mydagangnet.com/" target="_blank">www.mydagangnet.com</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
             -->
          </div>
        </div>
      </div>
    </div>
  </div>
  