
<app-banner></app-banner>

<div class="card theme">
  <ul class="nav">
    <li><a class="nav-link" routerLink="home">Home</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link  dropdown-toggle" data-bs-toggle="dropdown">Courses</a>
      <ul class="dropdown-menu theme">
        <li><a class="dropdown-item" routerLink="java">JAVA</a></li>
        <li><a class="dropdown-item" routerLink="dotnet">.NET</a></li>
      </ul>
    </li>
    <li><a class="nav-link" routerLink="registration">Registration</a></li>
    <li><a class="nav-link" routerLink="gallery">Gallery</a></li>
    <li><a class="nav-link" routerLink="userlist">REST Contact</a></li>
    <li><a class="nav-link" routerLink="contactUs">Contact Us</a></li>
  </ul>
</div>

  <div>
    <router-outlet></router-outlet>   
  </div>

  <div class="fixed-bottom text-center">
  Developed by: Nor Hanisah
  </div>
